<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- including axios file in frontend -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>add page</title>
<style>
    
html {
    height: 100%;
    width: 100%;
}

#form-body {
    background-color: #2c2c2c; /* Dark gray background color */
    height: 12cm;
    width: 15cm;
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
}

input {
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #555; /* Dark gray border color */
    height: 1cm;
    width: 100%;
    margin-top: 6px;
}

label {
    font-size: 18px;
    color: #fff; /* White text color */
}

label,
input {
    font-family: sans-serif;
}

button {
    font-size: 15px;
    margin-top: 3rem;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 12px 10rem;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

input:focus {
    outline: 2px solid #fff; /* White outline color on focus */
}

.form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 0px;
    margin-top: 5rem;
    gap: 14px;
}

body {
    background-color: #1a1a1a; /* Dark background color */
    background-repeat: no-repeat;
}

.btn-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    margin-top: 2rem;
    color: #fff; /* White text color */
}

a:hover {
    color: red;
    text-decoration: underline;
}
</style>

</head>

<body>

    <div class="form">
        <h3> ADD NEW STUDENT </h3>
    </div>

    <form>
        <div id="form-body">

            <label for="name"> Enter Name : </label> <br>
            <input type="text" name="name" id="name">

            <br><br>


            <label for="rollno"> Enter Roll Number : </label> <br>
            <input type="text" name="rollno" id="rollno">

            <br><br>


            <label for="email"> Enter Email : </label> <br>
            <input type="text" name="email" id="email">

            <br><br>


            <div class="btn-container">
                <button type="submit" class="submit-btn"> Submit </button>

                <a href="/index"> Go Back To Main Page </a>
            </div>

        </div>
    </form>


    <script>
        let rollInput = document.querySelector("#rollno");
        let nameInput = document.querySelector("#name");
        let emailInput = document.querySelector("#email");

        let btn = document.querySelector(".submit-btn");

        btn.addEventListener('click', async (event) => {
            event.preventDefault();

            // delete request through axios
            try {
                let name = nameInput.value;
                let rollno = rollInput.value;
                let email = emailInput.value;

                if (name === '' || rollno === '' || email === '') {
                    alert("Please enter valid details!!");
                    return;
                };

                try {
                    let response = await axios.post(`http://localhost:3000/addStudent/`, {
                        name,
                        rollno,
                        email,
                    });

                    console.log(response.data);
                    alert(response.data.message);
                }
                catch (err) {
                    console.log(err.response.data);
                    alert(err.response.data.message);
                    return;
                }
            }
            catch (err) {
                console.log("Error in adding the student");
            }

        })
    </script>

</body>

</html>